label, input { display:block; }
input {font-weight:normal;font-size:12px;}
.rule {display:inline;}
input.text { margin-bottom:12px; padding: .4em; }
fieldset { padding:0; border:0; margin-top:25px; }
.new-area {width: 800px;}
#group-form{position: relative;}
