html{
	overflow:hidden;
	font-family: Arial, Verdana, Geneva, sans-serif;
	color: #5d5d5d;
}
.body-bg {
	background: url(images/login/bg-pic.gif) repeat-x;
	font-size:12px;
}
.main-bg {
	background:url(images/login/main-bg.png) no-repeat;
	width: 667px;
	height: 390px;
	margin: 0 auto;
	position: absolute;
	top: 66px;
	left: 50%;
	margin-left: -334px;
}
.login-panel{
	/*background:url(images/login-bg.jpg) no-repeat;*/
	height: 344px;
	width: 650px;
	position: relative;
	top: 70px;
	left: 70px;
}
.foot-text{
	height: 344px;
	width: 580px;
	position: absolute;
	top: 310px;
	text-align: center;
	font-size: 12px;
	color: #ccc;
}
.login-panel table td{
	padding: 6px;
	font-size: 18px;
}

img {
	border: none;
}
.input-style {
	border: 1px solid #d7d7d7;
	width: 200px;
	height: 22px;
	line-height: 22px;
}
.login-content {
	width: 290px;
	height: 150px;
	position: relative;
	top: 42px;
	left: 300px;
}

.login-message-content{
	width: 240px;
	height: 24px;
	position: relative;
	top: 0px;
	left: 300px;
}

.btn-1 {
	background:url(images/login/login-btn1.gif) no-repeat;
	width: 91px;
	height: 32px;
	border: none;
	cursor: pointer;
	margin: 10px 5px;
}
.btn-2 {
	background:url(images/login/login-btn2.gif) no-repeat;
	width: 91px;
	height: 32px;
	border: none;
	cursor: pointer;
	margin: 10px 5px;
}

.error {
	background: #ffcece url(images/icons/cross_circle.png)  10px 7px no-repeat;
	border: 1px solid #df8f8f;
	color: #665252;
	padding: 6px 8px 6px 34px;
	position: relative;
	margin: 8px auto;
}
