ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}

li {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}

.photo-list li {
    display: block;
    float: left;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 3px;
    margin-top: 0;
    position: relative;
    z-index: 5;
}

.photo-list li {
    border-bottom-color: #FFFFFF;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #FFFFFF;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #FFFFFF;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #FFFFFF;
    border-top-style: solid;
    border-top-width: 1px;
    height: 130px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    display: list-item;
}

.photo-list li:hover, .photo-list li.hover, .photo-list li.select {
    background-color: #CEE1EE;
    border-bottom-color: #005EAC;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #005EAC;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #005EAC;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #005EAC;
    border-top-style: solid;
    border-top-width: 1px;
}

.photo-list li .picture {
    display: block;
    height: 130px;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 170px;
}

.photo-list li .picture img {
    background-color: #DDDDDD;
    background-position: center 25%;
    background-repeat: no-repeat;
    display: block;
    height: 130px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 170px;
}

.photo-list li:hover .frid-photo, .photo-list li.hover .frid-photo {
    display: none;
}

.uploadBnt{
	float:right;
	white-space: nowrap;
}
.splider{
	width:100%;
	height:10px;
	clear:both;
}

div.fieldset {
	border:  1px solid #afe14c;
	margin: 10px 0;
	padding: 10px 10px;
}

div.fieldset span.legend {
	position: relative;
	background-color: #FFF;
	padding: 3px;
	top: -20px;
	font: 14px Arial, Helvetica, sans-serif;
	color: #73b304;
}

div.flash {
	width: 90%;
	min-height: 260px;
	margin: 10px 5px;
	border-color: #D9E4FF;
	-moz-border-radius-topleft : 5px;
	-webkit-border-top-left-radius : 5px;
    -moz-border-radius-topright : 5px;
    -webkit-border-top-right-radius : 5px;
    -moz-border-radius-bottomleft : 5px;
    -webkit-border-bottom-left-radius : 5px;
    -moz-border-radius-bottomright : 5px;
    -webkit-border-bottom-right-radius : 5px;
}

div.flash_software {
	width: 90%;
	min-height: 100px;
	margin: 10px 5px;
	border-color: #D9E4FF;
	-moz-border-radius-topleft : 5px;
	-webkit-border-top-left-radius : 5px;
    -moz-border-radius-topright : 5px;
    -webkit-border-top-right-radius : 5px;
    -moz-border-radius-bottomleft : 5px;
    -webkit-border-bottom-left-radius : 5px;
    -moz-border-radius-bottomright : 5px;
    -webkit-border-bottom-right-radius : 5px;
}

.progressWrapper {
	width: 96%;
	overflow: hidden;
}

.progressContainer {
	margin: 5px;
	padding: 4px;
	border: solid 1px #E8E8E8;
	background-color: #F7F7F7;
	overflow: hidden;
}

.progressName {
	font-size: 8pt;
	font-weight: 700;
	color: #555;
	width: 323px;
	height: 14px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
}

.progressBarInProgress,
.progressBarComplete,
.progressBarError {
	font-size: 0;
	width: 0%;
	height: 2px;
	background-color: blue;
	margin-top: 2px;
}

.progressBarComplete {
	width: 100%;
	background-color: green;
	visibility: hidden;
}

.progressBarError {
	width: 100%;
	background-color: red;
	visibility: hidden;
}

.progressBarStatus {
	margin-top: 2px;
	width: 337px;
	font-size: 7pt;
	font-family: Arial;
	text-align: left;
	white-space: nowrap;
}

a.progressCancel {
	font-size: 0;
	display: block;
	height: 14px;
	width: 14px;
	background-image: url(/static/swfupload/cancelbutton.gif);
	background-repeat: no-repeat;
	background-position: -14px 0px;
	float: right;
}

a.progressCancel:hover {
	background-position: 0px 0px;
}

ul.ztree {margin-top: 10px;border: 1px solid #617775;background: #f0f6e4;width:110px;height:220px;overflow-y:scroll;overflow-x:auto;}