body, h1, div, li, ul, img, span, p ,h1,h2,h3,h4,h5,h6,form,dl,dt,dd,input{
	margin: 0;
	padding: 0;
}
.move{
	cursor:pointer;
}

li {
	list-style-type: none;
}
img {
	border: 0;
	vertical-align:middle;
}
body {
	font-family: Arial, Verdana, Geneva, sans-serif;
	font-size: 12px;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 12px;
}
a {
	text-decoration: none;
	color: #484848;
}
a:link{
	text-decoration: none;
	color: #484848;
}
a:visited{
	text-decoration: none;
	color: #484848;
}
a:hover{
	text-decoration: underline;
	color: #31718C;
}
.clear {
	clear:both;
	height:0;
	line-height:0;
	font-size:0;
	overflow:hidden;
	visibility:hidden;
}
.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
table {	
	border-collapse:collapse;	
	border-spacing:0; 
}
.checkbox {
	padding: 0;
	margin: 0;
	height: 14px;
}
.btn {
	padding: 2px 4px;
	border: 1px solid #73B2DE;
	background: #ADD9FE url('../images/button.jpg') repeat-x;
	color: #4F60BD;
	margin: 2px;
	display: block;
	float: left;
}
.btn.right {
	float: right;
}
.btn.return {
	background: #ADD9FE url('../images/button.jpg') repeat-x;
}
.btn.nofloat{
	display:inline;
	float:none;
}

input.btn{
	padding: 0 4px;
	border: 1px solid #73B2DE;
	background: #ADD9FE url('../images/button.jpg') repeat-x;
	color: #4F60BD;
	margin: 0;
	display:inline-block;
	float:none;
	height:20px;
	margin-left:4px;
	line-height:20px;

}

/*
.tooltip {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	display: none;
	background:#FFFFCC;
	border:1px gray solid;
	padding:6px;
	width:300px;
	white-space:normal;
}*/

.checkTip{
	position: absolute;
	margin:2px 0 0 2px;
	z-index;10px;
	border:1px solid #000;
	padding:2px 6px;
	background:#333;
	color:#fff;
	cursor:pointer;
}
.padding {
	padding: 12px 8px 0 16px;
}
.add-panel {
	text-indent: 24px;
	font-size: 16px;
	float:right;
	margin: 2px 10px 6px auto;
}
.add-panel a {
	float:right;
}

.add-panel .thickbox {
	background:url(../images/icons/icon-list.gif) 0 -2px no-repeat;
	margin: 0 0;
}

.add-panel .add {
	background:url(../images/icons/icon-list.gif) 0 -2px no-repeat;
	margin: 0 0;
}

.tab-area {
	margin: 10px;
	width:100%;
	min-height:100px;
}

.tit-01 {
	background:url(../images/tb-title.gif) no-repeat;
	background-size: 100% 100%; 
	
	height: 36px;
	text-indent: 26px;
	line-height: 36px;
	color: #fff;
	font-size: 14px;
	position: relative;
	overflow: hidden;
}



.tit-02 {
	background:url(../images/table2-bg.gif) no-repeat;
	height: 36px;
	text-indent: 24px;
	line-height: 36px;
	color: #fff;
	font-size: 14px;
	position: relative;
}
.tit-02 span {
	background: url(../images/table-bg.gif) right -36px no-repeat;
	height: 36px;
	position: absolute;
	right:0;
	top:0;
	width: 20px;
	/*z-index: 122;*/
}

.wrap {
	padding: 8px 10px 0 12px;
}
.video-panel {
	margin-top: 12px;
}
.video-panel ul li  {
	height: 150px;
	width: 180px;
	margin: 8px 26px 14px 10px;
	float: left;
}
.video-panel ul li .operate {
	border: 1px solid #dedede;
	border-bottom: none;
	margin-right: 12px;
	padding: 2px 6px;
	float: right;
	height: 24px;
}
.video-panel ul li .content {
	background: url(../images/video-bg.gif) no-repeat;
	height: 126px;
	display: block;
	width: 173px;
	position: relative;
}
.video-panel ul li .content .play {
	position: absolute;
	z-index: 62;
	width: 57px;
	top: 20px;
	left:56px;
	height: 57px;
}
.pic {
	width:120px;
	height:80px;
}
.video-panel ul li .content .pic {
	text-align: center;
	padding: 6px;
	height:80px;
}
.video-panel ul li .content .name {
	width: 160px;
	height: 26px;
	line-height: 26px;
	text-indent: 6px;
	font-size: 14px;
	color: #8A8A8A;
}

.uploadBnt {
	border: 1px solid #dedede;
}

.button {
	border: 1px solid #dedede;
	font-size: 14px;
	line-height: 26px;
	font-weight:bold;
	padding:4px;
	margin:8px;
}
.button:hover {
	text-decoration:none;
	color:#000;
}

.logPanel {
	background-color:#ffffff;border: 1px solid #dedede;
	overflow-y:auto; 
	overflow-x:hidden;
}

.template-panel {
	margin-top: 16px;
}
.template-panel ul li  {
	width: 486px;
	margin: 8px 8px 14px 8px;
	float: left;
}
.template-panel ul li .operate {
	border: 1px solid #dedede;
	border-bottom: none;
	margin-right: 16px;
	padding: 2px 6px;
	float: right;
	height: 24px;
}
.template-panel ul li .content {
	background: url(../images/template-bg.gif) no-repeat;
	height: 280px;
	width: 486px;
}
.template-panel ul li .content .pic {
	text-align: center;
	padding: 0 0;
	width: 480px;
	cursor:pointer;
}
.template-panel ul li h1 {
	font-size: 16px;
	color: #262626;
	line-height: 32px;
}
.template-panel ul li p {
	color: #AAA9A9;
	line-height: 2em;
}
.right-col-01 {
	width: 260px;
	border: 1px solid #ccc;
	float: right;
	margin: 10px 
	background: #F6F6F6;
}
.left-col-01  {
	float: left;
}
.right-col-02 {
	float: right;
	margin-left: 10px 
}
.left-col-02  {
	float: left;
	width: 500px;
}
.align-left {
	float: left;
}
.gray-area {
	border: 1px solid #ccc;
	padding: 0px;
	background: #F6F6F6;
}
.icon-list {
	margin: 10px;
	border-bottom: 1px solid #ccc;
	height: 42px;
}
.icon-list ul li {
	float: left;
	width: 56px;
	text-align: center;
}
.from-panel p{
	line-height: 2em;
	margin: 6px;
	font-size: 14px;
}
.from-panel th {
	text-align: left;
	padding: 8px 8px;
	font-size: 14px;
}
.from-panel td {
	text-align: left;
	padding: 8px 8px;
	font-size: 14px;
	vertical-align: top;
}
.from-panel-2 {
	margin-right: 40px;
	margin-bottom:10px;
}
.from-panel-2 p{
	line-height: 2em;
	margin: 6px;
	font-size: 14px;
}
.from-panel-2 th {
	text-align: left;
	padding: 2px 8px;
	font-size: 14px;
}
.from-panel-2 td {
	text-align: left;
	padding: 4px 8px;
	font-size: 14px;
	vertical-align: top;
}

.time-input {
	background: url(../images/icons/time.png) no-repeat right 0;
	background-color:#FFF;
}
.date-input {
	background: url(../images/icons/date.png) no-repeat right 0;
	background-color:#FFF;
}
.h1-style {
	font-size: 16px;
	border-bottom: 1px solid #CCC;
	height: 24px;
	font-weight: normal;
	color:#999;
	margin-top: 10px;
}
.list-on li {
	border: 1px solid #abb0b6;
	position: relative;
	background: #fff;
	height: 15px;
	line-height: 14px;
	padding-right: 24px;
	padding-left: 8px;
	float: left;
	margin: 4px 6px;
}
.list-on li span {
	position: absolute;
	height: 15px;
	right:0;
}
.list-on-2 li {
	border-bottom: 1px solid #abb0b6;
	height: 30px;
	line-height: 30px;
	padding-left: 8px;
	padding-right: 10px;
}
.list-on-2 li span {
	float: right;
}
.list-on-2 li span img {
	margin-top: 6px;
}
.height-10 {
	height: 10px;
}
.yellow-area {
	border: 1px dashed #FDEBB5;
	padding: 10px;
	background: #FFE;
}

.align-center {
	text-align:center;
}
.btn-center {
	text-align:center;
}
.btn-right{
	text-align:right;
	margin: 8px auto;
}
.btn-01,.btn-01:hover{
	background:url(../images/btn-bg.gif) no-repeat right -29px;
	padding-right:20px;
	display:inline-block;
	zoom:1;
	*display:inline;
	text-decoration: none;
	height:29px;
	line-height:27px;
	font-size:14px;
	font-weight:bold;
	color:#fff;
	margin:0 4px;
	cursor: pointer;
	margin-right: 14px;
}

.btn-01 span{
	background:url(../images/btn-bg.gif) no-repeat left 0;
	padding-left:20px;
	display:inline-block;
	zoom:1;
	color: #fff;
	*display:inline;
	height:29px;
	line-height:27px;
}
.btn-02,.btn-02:hover{
	background:url(../images/btn-bg.gif) no-repeat right -87px;
	padding-right:20px;
	display:inline-block;
	zoom:1;
	*display:inline;
	text-decoration: none;
	height:29px;
	line-height:27px;
	font-size:14px;
	font-weight:bold;
	color:#fff;
	margin:0 4px;
	cursor: pointer;
}

.btn-02 span{
	background:url(../images/btn-bg.gif) no-repeat left -58px;;
	padding-left:20px;
	display:inline-block;
	zoom:1;
	color: #fff;
	*display:inline;
	height:29px;
	line-height:27px;
}
.btn-03 {
	background: #f7f7f7;
	border: 1px solid #ccc;
	padding: 4px 8px;
	text-align: center;
	color: #666;
	margin-right: 6px;
}
.page-name {
	color: #cccccc;
	font-size: 20px;
	float: left;
	margin-right: 20px;
	line-height: 28px;
}
.gray {
	background: #cfcfcf;
}
.gray-panel {
	background: #f7f7f7;
	border: 1px solid #ccc;
}
.common-style {
	margin: 0px;
}
.common-style dt {
	background: #f7f7f7;
	text-indent: 18px;
	border: 1px solid #ccc;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	position: relative;
	cursor:pointer;
}
.common-style dd {
	background: #fff;
	border: 0px solid #ccc;
	border-top: none;
	padding: 0px;
	min-height:0px;
}
.common-style dt .icon {
 position: absolute;
 right: 10px;
 top: 2px;
}

.font-12 {
	font-size: 12px;
}
.font-14 {
	font-size: 14px;
}
.font-gray {
	color: #b8babc;
}

.disable {
	background-color:#b8babc;
}

.attention {
	background: #fffbcc url('../images/icons/exclamation.png') 10px 7px no-repeat;
	border: 1px solid #e6db55;
	color: #666452;
	padding: 6px 4px 6px 34px;
	position: relative;
	/*margin: 8px auto;*/
}

.information {
	background: #dbe3ff url('../images/icons/information.png')  10px 7px no-repeat;
	border: 1px solid #a2b4ee;
	color: #585b66;
	padding: 6px 4px 6px 34px;
	position: relative;
	/*margin: 8px auto;*/
}

.success {
	background: #d5ffce url('../images/icons/tick_circle.png')  10px 7px no-repeat;
	border: 1px solid #9adf8f;
	color: #556652;
	padding: 6px 4px 6px 34px;
	position: relative;
	margin: 2px auto;
}

.error {
	background: #ffcece url('../images/icons/cross_circle.png')  10px 7px no-repeat;
	border: 1px solid #df8f8f;
	color: #665252;
	padding: 6px 4px 6px 34px;
	position: relative;
	/*margin: 8px auto;*/
}
.attention .close,.information .close,.success .close,.error .close {
	color:#990000;
	font-size:9px;
	position:absolute;
	right:5px;
	top:5px;
}
.loading-01 {
	background: #fffbcc url('../images/icons/load1.gif') 10px 7px no-repeat;
	border: 1px solid #e6db55;
	color: #666452;
	padding: 6px 8px 6px 34px;
	width: 110px;
	margin-left: -55px;
	position: absolute;
}
.loading-02  {
	background: url('../images/icons/load2.gif') no-repeat;
	color: #999;
	height: 30px;
	line-height: 30px;
	font-size: 22px;
	text-indent: 34px;
	margin: 20px auto;
	width: 260px;
}

.page-panel {
	background: #F2F2F2;
	border: 1px solid #ccc;
	border-top: none;
	padding: 4px;
}
.page-panel-center {
	width: 300px;
	margin: 10px auto;
}
.pagination{
	height:20px;
	float: right;
}
.pagination li {
	line-height:18px;
	float:left;
}
.pagination a {
	border: solid 1px #DDDDDD;
	margin-right: 2px;
	height:18px;
	background: #fff;
}
.pagination .previous-off, .pagination .next-off {
	color: #666666;
	display: block;
	float: left;
	font-weight: bold;
	padding: 0 4px;
}
.pagination .next a, .pagination .previous a {
	font-weight: bold;
	border: solid 1px #FFFFFF;
}
.pagination .active {
	color: #bcbcbc;
	font-weight: bold;
	display: block;
	float: left;
	padding: 0 6px;
}
.pagination a:link, .pagination a:visited {
	color: #bcbcbc;
	display: block;
	float: left;
	padding: 0 6px;
	text-decoration: none;
}
.pagination a:hover {
	border: solid 1px  #999;
}
.home-icon {
	margin: 14px 0 0 12px;
}
.home-icon li {
	float: left;
	width: 200px;
	height: 220px;
	margin-right: 18px;
	margin-left: 10px;
	margin-bottom: 14px;
	margin-top: 8px;
}
.home-icon li dt {
	text-align: center;
	font-size: 16px;
	color: #484848;
	margin-bottom: 20px;
}
.home-icon li dd {
	color: #aaa9a9;
	font-size: 11px;
	line-height: 1.4em;
	height: 80x;
	overflow: hidden;
}

.tdBox {
	border-width:1px;
	border-style:solid;
	border-color:#ccc;
}
.movie dd{
	background-color:#336b96;
}
.image dd{
	/*background-color:#ffff00;*/
}
#area_image_1 dd{
	background-color:#95b555;
}
#area_image_2 dd{
	background-color:#5a974b;
}
#area_image_3 dd{
	background-color:#378c6d;
}
#area_image_4 dd{
	background-color:#528B8B;
}
.image1 dd{
	background-color:#95b555;
}
.image2 dd{
	background-color:#5a974b;
}
.image3 dd{
	background-color:#378c6d;
}
.image4 dd{
	background-color:#528B8B;
}
.date dd{
	background-color:#5f698c;
}
.time dd{
	background-color:#4876FF;
}
.weather dd{
	background-color:#4d7ea3;
}
.text dd{
	background-color:#679fca;
}
.webpage dd{
	background-color:#0072E3;
}
.btnGroup dd{
	background-color:#EBEBEB;
}
.bton dd{
	background-color: #74afe4;
}
.staticText dd{
	background-color:#7171C6;
}

.button2 {
	background-color:		#DCDCDC;/*#7abdd3;#D3D3D3 ;*/
	border-top:				1px solid #888888;
	border-left:			1px solid #888888;
	border-right:			1px solid #888888;
	border-bottom:			1px solid #888888;
	
	/*cursor:hand;*/               
	cursor:pointer;
	color:                  #000000;
	font-family:			Verdana, Arial, Helvetica, sans-serif;
	font-size:				11px;
	/*font-weight:		    bold;*/
	height:					18px;
	/*padding:                2px 2px 2px 2px;*/
}

.ui-resizable-helper { 
	/*border: 0.5em; dotted #00F;*/
	border-style:dotted;
	border-width: 0.01em;
	/*background-color:#ccc;*/
}
.blue {
	color:blue;
}
.filter {
	position:absolute;
	top:0px;
	right:20px;
	text-align:right;
}

.filter .select2 {
	text-indent: 0px;
	text-align:left;
}
.filter .select2-container .select2-selection--single {  
      height:22px;  
      line-height: 22px;  
} 

.filter .select2-container--default .select2-selection--single .select2-selection__rendered
{  
      height:22px;  
      line-height: 22px;  
} 
.empty {
	color:#c0c0c0;
	text-align:center;
	margin: 10px auto;
}

.num-box {
	border: 0.1em;
	border-style:dotted;
	background-color:#FFF;
}

#custom{
	float:right;
	width:200px;
	height:100px;
	position:absolute;
	top: 40px;
	right:10px;
}

#custom .logo{
	border: 0.1em;
	border-style:dotted;
	width:200px;
	height:70px;
}
#TB_closeWindowButton{
	color: #FFF;
}

#TB_title{
	font-size:14;
	font-weight:bold;
}

.globalMask {
	z-index:3;
	position:absolute;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
}

input[type="checkbox"] {
	margin-right:4px;
}


/*原来css里就有的样式，现在做了修改 start*/
.template-panel ul li .operate {
	border: 1px solid #dedede;
	border-bottom: none;
	margin-right: 16px;
	padding: 2px 0 2px 8px;
	float: right;
	height: 24px;
}
.add-panel {
	float:right;
	margin: 2px 10px 6px auto;
}


/*原来css里就有的样式，现在做了修改 end*/


/*new add start*/
.template-panel ul li .operate img{
	margin-right: 8px;
}
.add-panel a.new{
	background:url(../images/icons/icon-list.gif) 0 -2px no-repeat;
	padding-left: 25px;
	margin-right: 10px;
	font-size: 16px;
}
.add-panel a.import{
	background:url(../images/icons/icon-list.gif) 0 -43px no-repeat;
	padding-left: 25px;
	font-size: 16px;
}
.add-panel a.excel{
	background:url(../images/excel.png) 0 0px no-repeat;
	padding-left: 0px;
	height: 20px;
	font-size: 16px;
}

.btn-go:link {
	background:url(../images/btn-go.png) 0 -23px no-repeat;
	width: 35px;
	height: 23px;
	line-height: 23px;
	text-indent: 0;
	text-align: center;
	color: #FFF;
	text-decoration: none;
	margin-left: 10px;
	display: inline-block;
}
.btn-go:hover {
	background:url(../images/btn-go.png) 0 0 no-repeat;
	width: 35px;
	height: 23px;
	text-align: center;
	color: #fff;
}

.selected {
	background-color:#A2B4EE !important;  
}
.add-panel .webpage {
	background:url(../images/icons/icon-list.gif) 0 -2px no-repeat;
	margin: 0 0;
}

.search-player-icon{
	top: 10px;
    height: 24px;
    line-height: 24px;
    position: relative;
    width: 24px;
}
/*new add end*/