.kv-avatar .krajee-default.file-preview-frame,
.kv-avatar .krajee-default.file-preview-frame:hover {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    text-align: center;
}

.file-preview {
    padding: 2px;
}

.kv-file-content {
    width: 213px;
    height: 2rem;
}

.file-thumbnail-footer {
    display: none;
}

.kv-avatar {
    display: inline-block;
}

.kv-avatar .file-input {
    display: table-cell;
    width: 213px;
}

.kv-avatar .file-input {
    display: table-cell;
    width: 213px;
}

.file-drop-zone {
    min-height: 2rem;
    margin: 1px 1px 1px 1px;
}

.kv-reqd {
    color: red;
    font-family: monospace;
    font-weight: normal;
}